







body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





















#introducao img{
    width: 350px;
    height: 350px;
}
.card {
    background-color: white;
    padding: 20px;
    width
}
