. {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    margin-bottom: 50px;
}

main {
    padding: 30px;
}

#introducao {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    background-color: #dbeafe;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#introducao img {
    width: 350px;
    height: 350px;
}

#cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 20px;
    height: 300px;
    object-fit: cover;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}
